<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Mad Libs! Please Enter Words Into the Fields Below to Create a Wacky Adventure!</h1>
    <form action="/story" method="story">
     <label for="name">Enter a Name</label>
     <input id="name" name="name" type="text">
     <label for="adventurer-descriptor">Enter an Adjective</label>
     <input id="adventurer-descriptor" name="adventurer-descriptor" type="text">
     <label for="thing">Enter an Object</label>
     <input id="thing" name="thing" type="text">
     <button type="submit">Create Story!</button>
    </form>
  </body>
</html>