<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Libs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action="/story" method="story">
      <h1>Mad Libs! Please Enter Words Into the Fields Below to Create a Wacky Adventure!</h1>
      <div class="form-group">
        <label for="name">Enter a Name</label>
        <input id="name" name="name" type="text" class="form-control" placeholder="Name">
      </div>
      <div class="form-group">
        <label for="AD">Enter an Adjective</label>
        <input id="AD" name="AD" type="text" class="form-control" placeholder="Adjective">
      </div>
      <div class="form-group">
        <label for="thing">Enter an Thing</label>
        <input id="thing" name="thing" type="text" class="form-control" placeholder="Thing">
      </div>
      <div class="form-group">
        <label for="verb">Enter an Verb</label>
        <input id="verb" name="verb" type="text" class="form-control" placeholder="Verb">
      </div>
      <div class="form-group">
        <label for="Adverb">Enter an Adverb</label>
        <input id="Adverb" name="Adverb" type="text" class="form-control" placeholder="Adverb">
      </div>
      <div class="form-group">
        <label for="noun">Enter an Noun</label>
        <input id="noun" name="noun" type="text" class="form-control" placeholder="Noun">
      </div>
      <div class="form-group">
        <label for="number">Enter an Number</label>
        <input id="number" name="number" type="number" class="form-control" placeholder="Number">
      </div>
      <button type="submit">Create Story!</button>
  </form>
  </body>
</html>