<!DOCTYPE html>
<html>
  <head>
    <title>Your Story!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>And So it Begins...</h1>
    <h2>Name: @Model.Name</h2>
    <h2>Adjective: @Model.AD</h2>
    <h2>Thing: @Model.Thing</h2>
  </body>
</html>